/* Imports - Tipografía */
@font-face {
  font-family: "Staff";
  src: url("https: //res.cloudinary.com/renatafj/raw/upload/v1654268358/portafolio/StaffGroteskTest-Regular_iuas4u.woff2"),
    format("woff2");
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

ul {
  margin: 0;
  padding-inline: 0;
}

li {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behaviour: auto !important;
  }
}

/* Variables */
:root {
  /* 1. Colores */
  --black: #000000;
  --white: #ffffff;
  /* 2. Tipografía */
  font-family: "Staff";
  --font-size-1: 1rem;
  --font-size-2: 1.1rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1.5rem;
  --font-size-5: 2rem;
  --font-size-6: 2.5rem;
  --font-size-fluid-1: clamp(1rem, 4vw, 1.5rem);
  --font-size-fluid-2: clamp(1.5rem, 6vw, 2.5rem);
  --font-size-fluid-3: clamp(2rem, 9vw, 3.5rem);
  /* 3. Layouts */
  --size-mobile: 414px;
  --size-desktop: 1440px;
}
a{
  text-decoration:none
}
/* Base */
body {
  /* font-family: "Staff"; */
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: var(--white);
  color: var(--black);
}

.regular {
  font-weight: 400;
}

/* home */
.home {
  display: flex;
}
/* logo */
.logo {
  width: 30vw;
  border-right: 2px solid black;
}

.logo img {
  width: 80px;
  padding-block: 20px;
  padding-left: 20px;
  /* margin: auto; */
}

.navegacion {
  flex: 1;
}
/* navegacion */
.navegacion ul {
  border-left: 1px solid;
  position: relative;
}
.navegacion ul li {
  position: relative;
  /* Tal vez quieras modificar esta linea */
  font-size: 60px;
  padding-left: 10px;
  padding-right: 40px;
  line-height: 1.;
  text-transform: uppercase;
  border: 1px solid;
  border-left:none

}
.navegacion ul li::after {
  position: absolute;
  right: 0;
  top: 5px;
  width: 50px;
  height: auto;
  font-size: 34px;
  content: url("https://res.cloudinary.com/renatafj/image/upload/v1654269555/portafolio/image_gj95rs.svg")
}
/* home */
.home {
  background: rgb(255, 255, 255);
  height: 100vh;
}

/* pagina proyectos */
.proyecto .titulo {
  font-size: 34px;
  width: 100vw;
  text-align: center;
  margin: auto;
  font-weight: 100;
  font-size: 60px;
  padding-left: 10px;
  padding-right: 40px;
  line-height: 1.;
  text-transform: uppercase;
  border: 2px solid black;

}

.proyecto .logo {
  width: 30vw;
  border-right: 2px solid black;
}

.proyecto .logo img {
  position: absolute;
  top: 0;
  width: 80px;

}

/* proyecto cartelera */
.proyecto-i  {
  display: flex;
}

.proyecto .navegacion ul li::after {
  position: absolute;
  right: 0;
  top: 5px;
  font-size: 34px;
  content: "";

  /* content: url() */
}
.proyecto .logo {
  width: 30vw;
  border: none;
}
/* .proyecto-i +  {
  display: flex;
} */

.proyecto ul,
.proyecto ul li {
  border: none;
}
.proyecto.x ul {
  border-left: 2px solid black;
  height: 100vh;
}

.contenido {
border-top: 2px solid black;
}
.contenido img {
 width: 100vw;
padding-top: 60vh;
}
.contenido p {
font-size: 20px;
padding: 60px;
grid-column: 2/3;
}
.cols-2 {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
}

.ficha-tecnica {
  position: absolute;
  bottom: -50px;
}
